//import other files (Just for easy acsses)
@import "reusable/vars";
@import "reusable/base";
@import "reusable/mixin";
@import "reusable/meadia-que";
@import "reusable/ham-navbar";
@import "reusable/animations";
@import "reusable/global";

//End of importing other files

//for videos page only
.nav-element {
  &:first-child {
    color: $color-primary !important;
    &:hover {
      color: $color-secondary !important;
    }
  }
  &:nth-child(3) {
    color: $color-secondary !important;
  }
}

body {
  @include center-item;
}
.content {
  @include center-item;
  width: 70%;
  .videos-heading {
    margin: 15vh 0;
    font-size: 3rem;
  }

  .videos {
    @include center-item-row;
    flex-wrap: wrap;

    .vid {
      color: $color-primary;
      text-decoration: none;
      width: 30vw;
      height: 45vh;
      margin-bottom: 5rem;
      transition: all 0.2s ease-in-out;
      &:not(:first-of-type),
      &:not(:last-of-type) {
        margin-left: 1.5rem;
      }

      &:hover {
        .vid-title {
          color: $color-secondary;
        }
      }
      .vid-img {
        width: 30vw;
        height: 40vh;
        margin-bottom: 1.25rem;
      }
    }

    .vid-title {
      font-size: 1.625rem;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media (max-width: 768px) {
  .vid {
    width: 85vw !important;
    height: 45vh;
    &:not(:first-of-type),
    &:not(:last-of-type) {
      margin-left: 0 !important;
    }
    .vid-img {
      width: 85vw !important;
    }
  }
}

//End for Videos  page only.
